<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style1.css">
        <link rel="stylesheet" href="/css/bootstrap1.min.css">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
            
        </nav>
    
        <div class="container mt-4">
            <div class="row"></div>
            <div class="col-md-auto lg-6 sm-auto col-xs-auto">
                <div class="card" id="card">
                    <div class="card-header" id="cardheader"></div>
                    <div class="card-body">
                        <h2 class="text-primary">
                            Projet-FAMAS 
                        </h2>
                       
                        <h6>
                            Information de musiciens
                        </h6>
                        <span class="text-danger">
                            * Obligatoire
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <form role="form" action="">
            <div class="container mt-3">
                <div class="col-md-auto col-lg-auto col-sm-auto col-xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Nom <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="nom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto col-lg-auto col-sm-auto col-xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="postnom">Post-nom <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="postnom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 col-sm-auto col-xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="prenom">Prenom <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="prenom"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="adresse">Adresse <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="adresse"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telephone">Téléphone <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="telephone"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input id="form-control" type="email" name="email"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nationalite">Nationalité <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="nationalite"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="lieunaissance">Lieu de naissance <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="lieudenaissance"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-auto sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="datenaissance">Date de naissance <small style="color: red;">*</small></label>
                                <input id="form-control" type="text" name="datenaissance"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-auto sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sexe">Sexe <small style="color: red;">*</small></label>
                                <div class="radio">
                                    <label><input type="radio" value="">  M</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" value="">  F</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-auto sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="faculte">Famille<small style="color: red;">*</small></label>
                                <div class="radio">
                                    <label><input type="radio" value="">  Tubas</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" value="">  Trompette</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" value="">  Percution</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Nom Instrument">Nom Instrument</label>
                                <input id="form-control" type="text" name="numinst"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="col-md-auto lg-6 sm-auto xs-auto">
                    <div class="card" id="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">Numero Instrument</label>
                                <input id="form-control" type="text" name="numinst"  value="" class="form-control" placeholder="Votre réponse">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container mt-3">
                <div class="col-md-auto lg-auto sm-auto col-xs-auto">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success">Envoyer</button>
                    </div>
                </div>
            </div>
        </form>
        
    </body>
</html>