body{
    background-color: rgb(160, 154, 154);
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cardheader{
    background-color: rgb(106, 7, 219);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-width: 0px; 
}
#card{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#form-control{
    border-top-color:#fff;
    border-left-color: #fff;
    border-right-color: #fff;
    text-decoration-color: #fff;
    background-color: #fff;
}
input[type="text"]{
    font-size: 15px;
    margin-top: 20px;
}
input[placeholder]{
    padding-left: 0px;
}
input[type="radio"]{
    margin-top: 20px;
}
label{
    font-size: 20px;
    margin-bottom: 50px;
}
button[type="submit"]{
    font-size: 15px;
}
